<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<div id="app">
  <div class="employee-list">
    <ul>
      <li v-for="(employee, i) in employeesFilter(week.id)" :key="i">
        <ul v-if="employee.length">
          <li v-for="empl in employee" :key="empl.kani">
            <div class="employee">
              <p class="name">{{ empl.title }}</p>
              <p class="dept">{{ empl.subtitle }}</p>
            </div>
          </li>
        </ul>
        <p v-else>no people this week</p>
      </li>
    </ul>
  </div>
  <div>
    <button type="button" v-show="week.id > 0" @click="selectemployee(-1)"
      class="btn btn-primary btn-lg">Previous</button>
    <button type="button" v-show="week.id < 4" @click="selectemployee(1)" class="btn btn-secondary btn-lg">Next</button>
  </div>
</div>

<style>
  .employees-list {
    flex: 2;
    max-height: 100%;
    height: 600px;
    overflow: scroll;
    border-left: 1px solid #a6a6a6;
  }

  .employees-list ul {
    list-style-type: none;
    padding-left: 0;
  }

  .employees-list ul li {
    display: flex;
    padding: 2px;
    border-bottom: 1px solid #aaaaaa;
    height: 80px;
    position: relative;
    cursor: pointer;
  }

  .employees-list ul li selected {
    background: #dfdfdf;
  }

  .employee {
    flex: 3;
    font-size: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p,
  ul {
    margin: 0;
  }

  .employee .name {
    font-weight: bold;
  }
</style>

<script>
  new Vue({
    el: "#app",
    props: {
      employees: {
        type: Array,
        default: () => [
          {
            "inputs": [
              {
                title: '蛤有人拿4K耶？哼，雜魚。',
                subtitle: '參考影片：https://www.youtube.com/clip/UgkxF9_AAeKmtAUbt8TsvlhBsaLassY1NYbP',
                team: 'A1-蟹天蟹帝王謝',
                kani: '8.2',
                story: '6.8',
                view: '7.8',
                art: '7.8',
                average: '7.65',
                taylor: '這是霸凌畫面吧？太橫行霸道了&忘記編輯字體好可惜 **有人發現藍色螃蟹下多了兩隻腳嗎**',
                chicken: '猴哩蟹!!有人螃蟹能發射51啊!!檢舉按鈕在哪?任天堂管管啊',
                otonashi: '螃蟹配上冰淇淋與捲心餅好像不太搭...感受不到實體畫面',
                leo: '聲納增加了動態感 連背景都有鉗 可惜看不懂標題的關聯性',
                yohan: '雖然畫面有螃蟹，但感覺不到主角感，明明是蟹蟹賞卻螃後有人的開5.1雷射喇叭；撇開貼合主題的部分畫面呈現很漂亮，後面的招牌倒是嘲諷得很響應主題。蛤？所以雜魚說的是拿著冰淇淋的我嗎？',
                img: './asset/kanikani_01-A1.jpg',
              }
            ],
          },
          {
            "inputs": [
              {
                title: '螃蟹燒',
                subtitle: '熱呼呼的螃蟹燒好吃喔~快來魚市場享受美味的螃蟹吧',
                team: 'A2-良介一人扛蟹蟹大家',
                kani: '5.8',
                story: '7',
                view: '6.4',
                art: '6.6',
                average: '6.45',
                taylor: '這是4k串芋泥球吧！！！螃蟹的部分你們是瓜分掉了嗎？有一顆球還彈起來真的沒問題嗎？總之先給我一串吧',
                chicken: '紫蟹丸燒硬出新滋味!只碎你牙不溶你口!硬辣!因為評審牙齒斷了所以喔7777',
                otonashi: '這構圖馬上想到披頭四的專輯封面，這螃蟹全是殼好難剝，我好想吃螃蟹RRR',
                leo: '紅紅的象徵熟了很不錯  不過都變球狀少了點螃蟹度',
                yohan: '我看倒像地瓜球呢。畫面偏單調，也感受不到熱呼呼的感覺，看起來是螃蟹但或許裡面不是螃蟹。如果說是地瓜球我就幫你加三分。',
                img: './asset/kanikani_02-A2.jpg',
              },
            ],
          },
          {
            "inputs": [
              {
                title: '救命',
                subtitle: '雖然隊名是我們不會用針槍 但到頭來只有我(起司)和Agnes不會用成了戰犯....<br>比賽之後宏基表示受夠我們了只好拿出聲納趕蟹甚至恨不得直接擲向我們 QQ<br>（Moby大佬針槍本當上手所以不用被趕... ）<br>然後因為都是螃蟹新手所以選了黃色 當只小小的黃灰澤蟹<br>（雖然準備被趕走所以拼命逃跑到好像快熟了 救命！！！！！）',
                team: 'A3-我們不會用針槍',
                kani: '8',
                story: '7.8',
                view: '7.4',
                art: '7.2',
                average: '7.6',
                taylor: '兩位戰犯的綠色睫毛十分可愛，凸顯了後面拿聲納人的霸氣感，請問這是在拍綜藝玩很大嗎？ P.S.後面印堂發黑隊員的螃蟹看著聲納好Q',
                chicken: '用符號拼湊出的效果與畫面充份表現出了無辜的黃灰澤蟹即將被趕入水中逼迫游泳，成為一隻偉大的海蟹..!恨陸不成海的教練逼迫可憐的小陸蟹們直接下海辛酸畫面流出',
                otonashi: '螃蟹變紅看起來很好吃，只是畫面太擠要素過多，我有點餓',
                leo: '""拼命逃跑到好像快熟了"" 有好笑www',
                yohan: '畫面太過擁擠，看得螃蟹密集症候群發作；手拿聲納的樣子看起來蠻開心的沒有在生氣，或許可以改成拍攝丟下來的畫面。所以那個黃灰澤蟹好吃嗎？',
                img: './asset/kanikani_03-A3.jpg',
              }],
          },
          {
            "inputs": [
              {
                title: '救命',
                subtitle: '雖然隊名是我們不會用針槍 但到頭來只有我(起司)和Agnes不會用成了戰犯....<br>比賽之後宏基表示受夠我們了只好拿出聲納趕蟹甚至恨不得直接擲向我們 QQ<br>（Moby大佬針槍本當上手所以不用被趕... ）<br>然後因為都是螃蟹新手所以選了黃色 當只小小的黃灰澤蟹<br>（雖然準備被趕走所以拼命逃跑到好像快熟了 救命！！！！！）',
                team: 'A3-我們不會用針槍',
                kani: '8',
                story: '7.8',
                view: '7.4',
                art: '7.2',
                average: '7.6',
                taylor: '兩位戰犯的綠色睫毛十分可愛，凸顯了後面拿聲納人的霸氣感，請問這是在拍綜藝玩很大嗎？ P.S.後面印堂發黑隊員的螃蟹看著聲納好Q',
                chicken: '用符號拼湊出的效果與畫面充份表現出了無辜的黃灰澤蟹即將被趕入水中逼迫游泳，成為一隻偉大的海蟹..!恨陸不成海的教練逼迫可憐的小陸蟹們直接下海辛酸畫面流出',
                otonashi: '螃蟹變紅看起來很好吃，只是畫面太擠要素過多，我有點餓',
                leo: '""拼命逃跑到好像快熟了"" 有好笑www',
                yohan: '畫面太過擁擠，看得螃蟹密集症候群發作；手拿聲納的樣子看起來蠻開心的沒有在生氣，或許可以改成拍攝丟下來的畫面。所以那個黃灰澤蟹好吃嗎？',
                img: './asset/kanikani_03-A3.jpg',
              }],
          },
          {
            "inputs": [
              {
                title: '救命',
                subtitle: '雖然隊名是我們不會用針槍 但到頭來只有我(起司)和Agnes不會用成了戰犯....<br>比賽之後宏基表示受夠我們了只好拿出聲納趕蟹甚至恨不得直接擲向我們 QQ<br>（Moby大佬針槍本當上手所以不用被趕... ）<br>然後因為都是螃蟹新手所以選了黃色 當只小小的黃灰澤蟹<br>（雖然準備被趕走所以拼命逃跑到好像快熟了 救命！！！！！）',
                team: 'A3-我們不會用針槍',
                kani: '8',
                story: '7.8',
                view: '7.4',
                art: '7.2',
                average: '7.6',
                taylor: '兩位戰犯的綠色睫毛十分可愛，凸顯了後面拿聲納人的霸氣感，請問這是在拍綜藝玩很大嗎？ P.S.後面印堂發黑隊員的螃蟹看著聲納好Q',
                chicken: '用符號拼湊出的效果與畫面充份表現出了無辜的黃灰澤蟹即將被趕入水中逼迫游泳，成為一隻偉大的海蟹..!恨陸不成海的教練逼迫可憐的小陸蟹們直接下海辛酸畫面流出',
                otonashi: '螃蟹變紅看起來很好吃，只是畫面太擠要素過多，我有點餓',
                leo: '""拼命逃跑到好像快熟了"" 有好笑www',
                yohan: '畫面太過擁擠，看得螃蟹密集症候群發作；手拿聲納的樣子看起來蠻開心的沒有在生氣，或許可以改成拍攝丟下來的畫面。所以那個黃灰澤蟹好吃嗎？',
                img: './asset/kanikani_03-A3.jpg',
              }],
          },
        ]
      }
    },
    data() {
      return {
        week: { id: 0, title: "current week" }
      }
    },
    methods: {
      employeesFilter(w) {
        return this.employees[w]
      },
      selectemployee(w) {
        this.week.id += w
        this.week.id === 0 ? this.week.title = "current week" : this.week.id === 1 ? this.week.title = "next week" : this.week.title = "week after"
      }
    }
  })
</script>

<script>

  var test = [{
    title: '蛤有人拿4K耶？哼，雜魚。',
    subtitle: '參考影片：https://www.youtube.com/clip/UgkxF9_AAeKmtAUbt8TsvlhBsaLassY1NYbP',
    team: 'A1-蟹天蟹帝王謝',
    kani: '8.2',
    story: '6.8',
    view: '7.8',
    art: '7.8',
    average: '7.65',
    taylor: '這是霸凌畫面吧？太橫行霸道了&忘記編輯字體好可惜 **有人發現藍色螃蟹下多了兩隻腳嗎**',
    chicken: '猴哩蟹!!有人螃蟹能發射51啊!!檢舉按鈕在哪?任天堂管管啊',
    otonashi: '螃蟹配上冰淇淋與捲心餅好像不太搭...感受不到實體畫面',
    leo: '聲納增加了動態感 連背景都有鉗 可惜看不懂標題的關聯性',
    yohan: '雖然畫面有螃蟹，但感覺不到主角感，明明是蟹蟹賞卻螃後有人的開5.1雷射喇叭；撇開貼合主題的部分畫面呈現很漂亮，後面的招牌倒是嘲諷得很響應主題。蛤？所以雜魚說的是拿著冰淇淋的我嗎？',
    img: './asset/kanikani_01-A1.jpg',
  },
  {
    title: '螃蟹燒',
    subtitle: '熱呼呼的螃蟹燒好吃喔~快來魚市場享受美味的螃蟹吧',
    team: 'A2-良介一人扛蟹蟹大家',
    kani: '5.8',
    story: '7',
    view: '6.4',
    art: '6.6',
    average: '6.45',
    taylor: '這是4k串芋泥球吧！！！螃蟹的部分你們是瓜分掉了嗎？有一顆球還彈起來真的沒問題嗎？總之先給我一串吧',
    chicken: '紫蟹丸燒硬出新滋味!只碎你牙不溶你口!硬辣!因為評審牙齒斷了所以喔7777',
    otonashi: '這構圖馬上想到披頭四的專輯封面，這螃蟹全是殼好難剝，我好想吃螃蟹RRR',
    leo: '紅紅的象徵熟了很不錯  不過都變球狀少了點螃蟹度',
    yohan: '我看倒像地瓜球呢。畫面偏單調，也感受不到熱呼呼的感覺，看起來是螃蟹但或許裡面不是螃蟹。如果說是地瓜球我就幫你加三分。',
    img: './asset/kanikani_02-A2.jpg',
  },
  {
    title: '救命',
    subtitle: '雖然隊名是我們不會用針槍 但到頭來只有我(起司)和Agnes不會用成了戰犯....<br>比賽之後宏基表示受夠我們了只好拿出聲納趕蟹甚至恨不得直接擲向我們 QQ<br>（Moby大佬針槍本當上手所以不用被趕... ）<br>然後因為都是螃蟹新手所以選了黃色 當只小小的黃灰澤蟹<br>（雖然準備被趕走所以拼命逃跑到好像快熟了 救命！！！！！）',
    team: 'A3-我們不會用針槍',
    kani: '8',
    story: '7.8',
    view: '7.4',
    art: '7.2',
    average: '7.6',
    taylor: '兩位戰犯的綠色睫毛十分可愛，凸顯了後面拿聲納人的霸氣感，請問這是在拍綜藝玩很大嗎？ P.S.後面印堂發黑隊員的螃蟹看著聲納好Q',
    chicken: '用符號拼湊出的效果與畫面充份表現出了無辜的黃灰澤蟹即將被趕入水中逼迫游泳，成為一隻偉大的海蟹..!恨陸不成海的教練逼迫可憐的小陸蟹們直接下海辛酸畫面流出',
    otonashi: '螃蟹變紅看起來很好吃，只是畫面太擠要素過多，我有點餓',
    leo: '""拼命逃跑到好像快熟了"" 有好笑www',
    yohan: '畫面太過擁擠，看得螃蟹密集症候群發作；手拿聲納的樣子看起來蠻開心的沒有在生氣，或許可以改成拍攝丟下來的畫面。所以那個黃灰澤蟹好吃嗎？',
    img: './asset/kanikani_03-A3.jpg',
  },
  {
    title: '紅蟳米糕',
    subtitle: '鮮豔的餐盤上擺著一道傳統台灣宴客料理，配上完美的結尾甜點冰淇淋甜筒。',
    team: 'A4-不要炒辣',
    kani: '8.2',
    story: '7.8',
    view: '7',
    art: '7.4',
    average: '7.6',
    taylor: '**香菜不可原諒...**',
    chicken: '大哥你的冰淇淋插在米糕裡耶?這樣不行ㄟ',
    otonashi: '越看越餓...我好想吃螃蟹',
    leo: '覺得把遊樂園中間當餐盤很有創意',
    yohan: '主題簡潔明瞭，但畫面呈現感覺有點單調，或許可以在餐桌上放點其他的餐點襯托出主角的彭湃。不是吧，米糕上面真的會放個冰淇淋嗎？不能另外上嗎？',
    img: './asset/kanikani_04-A4.jpg',
  },
  {
    title: 'Vinzzzi：蟹蟹再聯絡',
    subtitle: 'カニ食べたい',
    team: 'A5-蟹蟹再聯絡',
    kani: '6.4',
    story: '6.4',
    view: '6.8',
    art: '6',
    average: '6.4',
    taylor: '情況從糟糕變得難以理解的照片... 下次可以請隊上的鏡4K來掌鏡嗎',
    chicken: '左邊鎧之紅蟳，右邊超大型青蟹，好吃!',
    otonashi: '這螃蟹新鮮到煮熟會噴水，有點厲害啊',
    leo: '有點掌握不太到 ""食べたい"" 跟畫面的關聯',
    yohan: '蟹蟹再連絡跟想吃螃蟹沒有連結點，畫面呈現雖然有螃蟹但站在旁邊的後面的飛起來的太過雜亂抓不到主題。いや、食べたくないのです。',
    img: './asset/kanikani_05-A5.jpg',
  },
  {
    title: '漁夫想抓三隻蟹蟹',
    subtitle: '隊長奇奇蟹盡全力的帶著另外兩隻蟹蟹逃跑',
    team: 'A6-銘蟹惠顧',
    kani: '8.2',
    story: '7.4',
    view: '7.2',
    art: '7.2',
    average: '7.5',
    taylor: '你們螃蟹太飽滿了吧居然擠滿整個畫面！！！所以你們要跑到哪裡！！',
    chicken: '如果是迪士尼風格接下來奇奇蟹會開始唱歌接著三隻螃蟹一起大合唱後切到漁夫的鏡頭然後漁夫也開始唱歌，這是一個歌舞劇照',
    otonashi: '活跳跳！活跳跳！只看畫面彷彿嘴巴有海水鹹味',
    leo: '右邊那隻笑得很開心有點難想像是在逃跑(X',
    yohan: '畫面呈現上沒有逃跑的感覺，或許可以抓到球型態切回螃蟹型態的瞬間配合跳躍拍攝比較有動態感，後面臭溫泉魚乾的logo跟燈籠有股親切感。右邊那隻我看你是很開心喔。',
    img: './asset/kanikani_06-A6.jpg',
  },
  {
    title: '敵視點',
    subtitle: '噩夢',
    team: 'B1-力二',
    kani: '7.6',
    story: '7.6',
    view: '8.8',
    art: '7.2',
    average: '7.8',
    taylor: '我感到束手無策...',
    chicken: '看到背後了嗎?那是我們隊的重生點',
    otonashi: '真格噩夢，不要吃我RRR',
    leo: '打完趕蟹季看到這個畫面感覺會 PTSD www',
    yohan: '我要看到蟹流成河，墨水顏色或許可以選更鉗衛的顏色；如果以敵人視角為出發點感覺看到這麼整齊的機會比較小，站位再安排一下才有四處都是螃蟹逃不掉的噩夢感。老實說我覺得這比較像頒獎典禮，來，看鏡頭。',
    img: './asset/kanikani_07-B1.jpg',
  },
  {
    title: 'DeJa vu',
    subtitle: '一個花枝在用肉身抵擋螃蟹坦克的入侵 ',
    team: 'B2-我們需要那個酷鉗鉗',
    kani: '7.5',
    story: '7',
    view: '8.5',
    art: '7.75',
    average: '7.6875',
    taylor: '發想很有趣不過為什麼是在這邊拍wwww傑瑞跟Viko都被擋到了啦www',
    chicken: '花枝漿',
    otonashi: '很有故事性但是不好吃，小心飛來的河蟹',
    leo: '如果可以去除畫面上的一些遮擋物會更好',
    yohan: '如果是用肉身擋住應該可以讓花枝跟螃蟹不同顏色，點綴一點蟹鬥的痕跡，劃上一點敵方墨水更有情境，螃蟹的部分則是可以有攻擊的畫面來說明為什麼地板是粉紅色；畫面拍攝上有一根路燈擋住破壞畫面很可惜。為什麼你們的螃蟹都是走直的？',
    img: './asset/kanikani_08-B2.jpg',
  },
  {
    title: '老師後面有人在蟹鬥',
    subtitle: '副標題：理想很美好，現實腳到爆 腳(形容詞）<br>注音：ㄐㄧㄠˇ 漢語拼音：jiǎo<br>相似詞：很腳、腳爆了、超腳<br>釋義：形容斯普拉遁打得很爛<br>典故：不知道是誰說了一句：這些魚*打得超爛欸！他們是用腳在打電動嗎？<br>例句：天啊！剛剛打工遇到的魚超腳的，害我掉回達人+3了⋯⋯<br> *註：魚：玩家，泛指章魚或魷魚(花枝)',
    team: 'B3-ゴミあし',
    kani: '7.4',
    story: '6.8',
    view: '8',
    art: '7.4',
    average: '7.4',
    taylor: '你們這火拼的威力也太強了吧！！而且最近發現蟹腳有八支就算腳爆應該也不會輸吧！！！',
    chicken: 'https://www.toy-people.com/?p=74463 等等國文老師用腳教訓你們',
    otonashi: '完全是演唱會現場吧，中間立著巨型麥克風',
    leo: '畫面很有動態感 不過標題的連結性有點不足',
    yohan: '主題是蟹鬥的話感覺螃蟹坦克可以使用不同顏色，最好還能捕捉到螃蟹坦克壞掉零件掉出的畫面，聲納的動畫效果以及稍微傾斜的畫面我很喜歡。而且你發言有舉手，超棒der。',
    img: './asset/kanikani_09-B3.jpg',
  },
  {
    title: '酒精燈烤蟹',
    subtitle: '終於把火點起來，螃蟹也烤熟了:)',
    team: 'B5-吉品真澄牌白乾蟹餃',
    kani: '8.6',
    story: '7.8',
    view: '7.6',
    art: '6.8',
    average: '7.7',
    taylor: '你們螃蟹看起來有抱蛋感覺很好吃...',
    chicken: '用酒精燈就能烤熟的螃蟹會不會吃不飽????',
    otonashi: '我 現 在 就 要 吃 螃 蟹 ！',
    leo: '中間的螃蟹最紅是故意的嗎？很講究唉www',
    yohan: '以鐵網當烤盤的想法很好，但酒精燈應該不是這個顏色，SP集滿的特效勉強有像燃燒的感覺不過整體來說太薄弱。這裡是工廠嗎？確定在這裡烤螃蟹不會整棟燒起來嗎？',
    img: './asset/kanikani_10-B5.jpg',
  },
  {
    title: '記憶中的紅蟳米糕 註：香菜多',
    subtitle: '用大峽谷中場地形當作紅蟳米糕的容器裝著兩隻紅蟳，下雨SP化作香菜，但手滑灑太多惹',
    team: 'B6-菇神樣マジすごううううう',
    kani: '8.6',
    story: '8.2',
    view: '8.6',
    art: '7.6',
    average: '8.25',
    taylor: '很想說構圖很用心但香菜太多了我很不舒服',
    chicken: '這碗給泰勒吧',
    otonashi: '感覺比較像螃蟹相撲，輸的會被油炸..',
    leo: '加了濾鏡配圖片上的註解很有心 香菜加太多有好笑給推',
    yohan: '選擇大峽谷高台大小適中，兩隻螃蟹烹調恰當顏色剛好，復古風濾鏡貼合主題，人物向上看著鏡頭的感覺彷彿在訴說著某段故事。不過真的灑太多了。',
    img: './asset/kanikani_11-B6.jpg',
  },
  {
    title: '螃蟹快快來',
    subtitle: '看到美味的螃蟹在眼前用力呼喚這2隻螃蟹來他面前，卻呼略還有1隻美味魷魚',
    team: 'C2-感蟹魷你真好',
    kani: '6.4',
    story: '7.4',
    view: '6.2',
    art: '6',
    average: '6.5',
    taylor: '你們知道這代有相機功能嗎！！！',
    chicken: '美味的我看不只有一隻魷魚喔',
    otonashi: '呼朋引蟹，過魷不及',
    leo: '感覺魷魚搶鏡+螃蟹是背面降低了一些螃蟹度',
    yohan: '對喊來這裡的玩家來說魷魚應該在後面還被掩體擋住，畫面上有點多餘，距離太遠看不到吶喊者的表情有點可惜。但是直接叫煮熟的螃蟹真的會來嗎？',
    img: './asset/kanikani_12-C2.jpg',
  },
  {
    title: '造船關：隘口難攻速速繳蟹',
    subtitle: '靈感來自肉肉直播我們的那場。<br>造船廠的這個高台很像古時候的人所說的隘口，<br>在此連開了3隻螃蟹，磅礴的氣勢速速壓制，並逼人繳械。',
    team: 'C5-花樣定食-出走的蟹料理',
    kani: '8.2',
    story: '7.6',
    view: '7',
    art: '6.6',
    average: '7.35',
    taylor: '右邊拍照的人手跑出來了！！照片太真實我看了都想起被占領高台的回憶，橘色的蟹膏噴射看起來很好吃',
    chicken: '超級在意右邊的人欸!',
    otonashi: '所以三隻螃蟹可以守住街亭嗎？',
    leo: '右邊有人入鏡小扣分 所有螃蟹都開火的話感覺更好',
    yohan: '如果主題是在隘口強逼的話，比起三隻螃蟹的特寫，畫面上或許可以拉開距離，呈現對手被螃蟹坦克壓制的無力感，如果說要連開也可以抓一隻快結束+一隻正在開+一隻準備開的畫面也不錯。所以上面拿聲納的不丟一下嗎？',
    img: './asset/kanikani_13-C5.jpg',
  },
  {
    title: '蟹蟹團',
    subtitle: '比賽之前在大廳等待時候的小插曲，自己隊伍和別的隊伍都團在一下開螃蟹，標題就是感謝有團隊一齊打',
    team: 'D1-チームの名前はまだ知らない',
    kani: '6',
    story: '6.6',
    view: '5.6',
    art: '4.8',
    average: '5.75',
    taylor: '地瓜球比例太高了吧，螃蟹在哪裡！！！！',
    chicken: '螃蟹開場一齊走，對手日子不再有，一點射，一發炮，一人倒，全滅啦~',
    otonashi: '四球檸檬冰淇淋感..',
    leo: '有點不太懂 不過也蟹蟹大家踴躍參加比賽',
    yohan: '欸你不能隨便給一張截圖耶？而且這明明就是巨大地瓜球好嗎？',
    img: './asset/kanikani_14-D1.jpg',
  },
  {
    title: '來溫泉螃蟹鍋吧',
    subtitle: '充滿誠意的溫泉紅蟹，現撈現煮，即刻送達，實在新鮮',
    team: 'D4-霞谷溫泉螃蟹鍋',
    kani: '8.8',
    story: '7.4',
    view: '7',
    art: '7.4',
    average: '7.65',
    taylor: '本火鍋用料實在還免費附贈海蜇皮，價格實惠，會再去回購',
    chicken: '水煮就是美味，現在買水煮蟹即送水母泡澡清涼照',
    otonashi: '你們兩組是不是說好要虐待評審的，超想吃螃蟹鍋..',
    leo: '寫點評寫到很餓是正常的嗎...',
    yohan: '畫面相對單調，就算只是螃蟹也要要求擺盤，而且感覺螃蟹已經煮到不成蟹樣了。你倒是趕快撈起來啊！！！',
    img: './asset/kanikani_15-D4.jpg',
  },
  {
    title: 'The ЭĐoses',
    subtitle: '照片靈感來自披頭四(The Beatles)經典過馬路照片，再添加上蟹元素～',
    team: 'D6-3針疫苗團',
    kani: '7.4',
    story: '7.8',
    view: '9.2',
    art: '8.8',
    average: '8.3',
    taylor: '我們這組本來也有在鰻鯰區拍披頭四的照片雖然不是同個位置XDD用墨自己畫斑馬線這發想太有趣了',
    chicken: '有很用心地用皇上將地板塗滿加上分明的三代代表色藍黃相間，實屬藝術，可惜因為我想畫的構圖先被你們拍了所以我要扣分(咬手帕',
    otonashi: '經典構圖全新滋味，好吃螃蟹過馬路',
    leo: '斑馬線塗的很有誠意',
    yohan: '致敬經典，地板也用心畫成斑馬線的樣子，不過畫面呈現及拍攝手法被固定無法發揮更多創意，畫面不是非螃蟹不可這兩點比較可惜。Old is Good。',
    img: './asset/kanikani_16-D6.jpg',
  },
  {
    title: '鹽味海姥鍋',
    subtitle: '4人套餐含臭魚乾鍋底',
    team: 'C6-如果比賽吃火鍋姥姥就能贏了吧',
    kani: '8.68',
    story: '8.4',
    view: '8.6',
    art: '7.8',
    average: '8.37',
    taylor: '姥姥團最終敵不過火鍋慘遭反嗜變成火鍋的一部分，大家團練還是要小心啦！誰可以告訴我8282是什麼',
    chicken: '用聲納造型當天然海鹽罐是個有創意的想法，其中一隻螃蟹看起來像是被鹽醃了?!還有你們的海蜇皮有夠生，生到在湯頭裡聊天!',
    otonashi: '請問團練報名在哪裡，看起來就很好吃',
    leo: '煮螃蟹很有想法 右邊是在撒鹽嗎www',
    yohan: '主題明確，畫面直接，用聲納當作海鹽罐創意十足，巧妙利用空白處進行餐點說明，但是字擋到海蜇皮有點可惜；四人套餐只有三隻螃蟹還要8282新台幣好像有點貴。海老不是炸蝦嗎？我海鮮吃得少你不要騙我。',
    img: './asset/kanikani_17-C6.jpg',
  },]
</script>